body {
    font-family: Arial, sans-serif;
    background-color: #eef1f6;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 25px;
    padding-right: 45px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

textarea, input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

input[type="submit"] {
    background: #68ff60;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 6px;
    width: 100%;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #00a424;
}